<!DOCTYPE html>
<head><meta charset="utf-8">
  <title></title>
</head>

<body style="margin: 0;font-family: sans-serif;">
  <div class="guide" style="width: 100%;text-align: center;">
    <div class="logo" style="display: inline-block;margin-top: 50px;max-width: 200px;">
      <img src="http://www.naturenurture.lk/images/logo.png" alt="Nature Nurture" style="width: 100%;height: auto;"></div><br>
    <h1 style="font-size: 18px;font-weight: 500;margin: 30px 0 0;color: #50ad65;">Greetings from naturenurture.lk</h1>
    <p style="font-size: 18px;font-weight: 200;margin: 5px 0 30px;">Let us guide you through this simple steps.</p>
    <div class="donation-guide" style="max-width: 400px;border-radius: 5px;background: #fff;width: 100%;box-sizing: border-box;padding: 0;margin-top: 20px;display: inline-block;vertical-align: top;border: 1px solid #e0e0e0;">
      <div class="image" style="display: inline-block;vertical-align: top;width: calc(90%);margin-right: 4px;text-align: center;padding: 20px;box-sizing: border-box;"><img src="http://www.naturenurture.lk/images/donate.png" alt="How to offer plants" style="width: 30%;height: auto;">
        <h1 style="font-size: 20px;font-weight: 500;margin: 3px;color: #50ad65;">Offer plants</h1>
        <p style="font-size: 12px;font-weight: 300;margin: 2px;">From your backyard to the world</p>
      </div>
      <div class="text" style="background: #f5f5f5;display: inline-block;width: calc(70%);padding: 20px;text-align: left;box-sizing: border-box;height: 100%;border-top-right-radius: 5px;border-top-left-radius: 5px;">
        <h2 style="font-size: 18px;font-weight: 500;margin: 0 0 10px;">How to offer?</h2>
        <p style="font-size: 12px;font-weight: 300;margin: 2px;">
          <span>
            <img src="http://www.naturenurture.lk/images/offer_screen.gif" alt="Offer new plants button screen shot" style="transition: all 0.5s ease;display: block;width: 100%;height: auto;vertical-align: middle;border: 2px solid #e0e0e0;border-radius: 5px;margin: 5px 5px 5px 0;z-index: 9999999;"></span>
          <span>Click
          </span>
          <span class="bold" style="font-weight: 600;">Offer a new plant
          </span>
          <span>on the side menu. Then you have options</span>
          <span>
            <img src="http://www.naturenurture.lk/images/options_screen.png" alt="Options screen shot" style="transition: all 0.5s ease;display: block;width: 100%;height: auto;vertical-align: middle;border: 2px solid #e0e0e0;border-radius: 5px;margin: 5px 5px 5px 0;z-index: 9999999;"></span>
          <span class="bold" style="font-weight: 600;">Exchange</span>
          <span>- Offer plants for exchange.</span>
          <span class="bold" style="font-weight: 600;"><br>Donate</span>
          <span>- Donate plants.</span>
          <span class="bold" style="font-weight: 600;"><br>Request</span>
          <span>- Of course you can request too.</span>
        </p>
      </div>
    </div><br>
    <div class="donation-guide last" style="max-width: 400px;border-radius: 5px;background: #fff;width: 100%;box-sizing: border-box;padding: 0;margin-top: 20px;display: inline-block;vertical-align: top;border: 1px solid #e0e0e0;">
      <div class="image" style="display: inline-block;vertical-align: top;width: calc(90%);margin-right: 4px;text-align: center;padding: 20px;box-sizing: border-box;"><img src="http://www.naturenurture.lk/images/request.png" alt="How to request plants" style="width: 30%;height: auto;">
        <h1 style="font-size: 20px;font-weight: 500;margin: 3px;color: #50ad65;">Request plants</h1>
        <p style="font-size: 12px;font-weight: 300;margin: 2px;">From green exchange to your backyard
        </p>
      </div>
      <div class="text" style="background: #f5f5f5;display: inline-block;width: calc(70%);padding: 20px;text-align: left;box-sizing: border-box;height: 100%;border-top-right-radius: 5px;border-top-left-radius: 5px;">
        <h2 style="font-size: 18px;font-weight: 500;margin: 0 0 10px;">How to request?</h2>
        <p style="font-size: 12px;font-weight: 300;margin: 2px;">You have two options<br><br>
          <span class="bold" style="font-weight: 600;">1. Post a request<img src="http://www.naturenurture.lk/images/request_screen.png" alt="Request new plants button screen shot" style="transition: all 0.5s ease;display: block;width: 100%;height: auto;vertical-align: middle;border: 2px solid #e0e0e0;border-radius: 5px;margin: 5px 5px 5px 0;z-index: 9999999;"></span>
          <span class="bold" style="font-weight: 600;">2. Search for the plant you want</span>
          <span>
            <img src="http://www.naturenurture.lk/images/search_screen.gif" alt="Options screen shot" style="transition: all 0.5s ease;display: block;width: 100%;height: auto;vertical-align: middle;border: 2px solid #e0e0e0;border-radius: 5px;margin: 5px 5px 5px 0;z-index: 9999999;"></span>
          <span class="bold" style="font-weight: 600;">respond
          </span>
          <span>with your contact details.</span>
          <span>
            <img src="http://www.naturenurture.lk/images/respond_screen.gif" alt="Options screen shot" style="transition: all 0.5s ease;display: block;width: 100%;height: auto;vertical-align: middle;border: 2px solid #e0e0e0;border-radius: 5px;margin: 5px 5px 5px 0;z-index: 9999999;"></span>
          <span>and wait for the call.
          </span>
        </p>
      </div>
    </div>

    <h3 style="font-size: 18px;font-weight: 300;margin: 30px 0 0;">Cheers,</h3>
    <h2 style="font-size: 20px;font-weight: 400;margin: 0 0 50px;">Nature Nurture team.</h2>
    <p style="font-size: 12px;font-weight: 300;margin: 5px 0 30px;">You are receiving this email because you have signed up with
      <span>
        <a href="http://www.naturenurture.lk/" style="display: inline-block;font-size: 12px;font-weight: bold;color: #50ad65;">naturenurture.lk</a>
      </span>
    </p>
  </div>
</body>
