<body style="margin:0;">
  <div class="root" style="width:100%;background-color:#f5f5f5;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;text-align:center;font-family:sans-serif;">
    <div class="pre-header" style="color:#f5f5f5;">Thank you for joining Nature Nurture.</div>
    <div class="logo" style="display:inline-block;margin-top:20px;max-width:200px;">
      <img src="http://www.naturenurture.lk/images/logo.png" alt="Nature Nurture" style="width:100%;height:auto;"></div><br>
    <div
      class="message"
      style="display:inline-block;text-align:left;margin-top:20px;background-color:white;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;border-radius:5px;width:100%;max-width:600px;font-weight:300;">
      <p class="h1" style="font-weight:600;">Hi {{=it.owner_name}},</p>
      <p>Thank you for joining
        <span style="font-weight:500;">Nature Nurture Sri Lanka.</span>
      </p>
      <p>You have {{=it.offer_text}} in
        <span style="font-weight:500;">Movement.</span>
      </p>
      
    </div><br>
    <div class="signup" style="display:inline-block;width:600px;font-size:12px;text-align:left;">
      <p style="display:inline-block;">You can have better control over your posts by signing up.
      </p>
      <a href="http://www.naturenurture.lk/signup" style="display:inline-block;color:#00b666;margin-left:5px;">
        Sign up
      </a>
    </div>
    <br>
    <div class="ignore" style="display:inline-block;width:600px;font-size:12px;text-align:left;margin-bottom:40px;">
      <p style="display:inline-block;">If you didn't make this offer please ignore this message.<br>If you think someone entered your email address intentionally please report abuse to<span>
          <a href="mailto:info@naturenurture.lk" style="display:inline-block;color:#00b666;margin-left:5px;">info@naturenurture.lk</a>
        </span>
      </p>
      <p style="display:inline-block;">You can always
        <span>
          <a href="" style="display:inline-block;color:#00b666;margin-left:5px;">unsubscribe</a>
        </span>
      </p>
    </div>
  </div>
</body>
