.wrap {
  padding: 75px;
  margin-top: 105px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e0e0e0; }
  .wrap p {
    font-size: 18px;
    text-align: center; }

.pass-reset-form {
  text-align: center; }
  .pass-reset-form p {
    color: #50AD65; }
    .pass-reset-form p.error {
      color: #ff5577; }
  .pass-reset-form input {
    display: inline-block;
    font-size: 24px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    border: 2px solid #5B5B5B;
    outline: none;
    margin-bottom: 5px; }
    .pass-reset-form input:focus {
      border: 2px solid #50AD65; }
  .pass-reset-form button {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 20px;
    color: #50AD65;
    border: 2px solid #50AD65;
    background: #fff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    outline: none; }
    .pass-reset-form button:hover {
      background: #50AD65;
      color: #fff; }
    .pass-reset-form button:focus {
      background: #50AD65;
      color: #fff; }
    .pass-reset-form button:disabled {
      opacity: 0.5; }
