doctype html
head
  meta(charset="utf-8")
  title 
  link(rel="stylesheet", type="text/css", href="../styles/donation-guide.css")

body
  .guide  
    .logo    
      img(src="http://www.naturenurture.lk/images/logo.png", alt="Nature Nurture")
    br
    h1 Greetings from naturenurture.lk
    p Let us guide you through this simple steps.
    .donation-guide
      .image
        img(src="http://www.naturenurture.lk/images/donate.svg", alt="How to offer plants")
        h1 Offer plants
        p From your backyard to the world
      .text
        h2 How to offer?
        p 
          span 
            img(src="http://www.naturenurture.lk/images/offer_screen.gif", alt="Offer new plants button screen shot")
          span Click 
          span.bold Offer a new plant 
          span on the side menu. Then you have options
          span 
            img(src="http://www.naturenurture.lk/images/options_screen.png", alt="Options screen shot")
          span.bold Exchange
          span - Offer plants for exchange.
          span.bold <br>Donate
          span - Donate plants.
          span.bold <br>Request
          span - Of course you can request too.
          
    br      
    .donation-guide.last
      .image
        img(src="http://www.naturenurture.lk/images/request.svg", alt="How to request plants")
        h1 Request plants
        p From green exchange to your backyard  
      .text
        h2 How to request?
        p You have two options
          br
          br
          span.bold 1. Post a request
            img(src="http://www.naturenurture.lk/images/request_screen.png", alt="Request new plants button screen shot")
          span.bold 2. Search for the plant you want
          span 
            img(src="http://www.naturenurture.lk/images/search_screen.gif", alt="Options screen shot")
          span.bold respond 
          span with your contact details.
          span 
            img(src="http://www.naturenurture.lk/images/respond_screen.gif", alt="Options screen shot")
          
          span and wait for the call. 
    p You are receiving this email because you have signed up to 
      span 
        a(href="http://www.naturenurture.lk/") naturenurture.lk
    h3 Cheers,
    h2 Nature Nurture team.
