.verify
  h1 Thank you for verifying your email.
  p Now you can proceed to 
    a(href="/green-exchange") Green Exchange
    span , 
    a(href="#") The Forest 
    span or any section you like.
  p Have fun. 
