doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title 
  link(rel="stylesheet", type="text/css", href="../styles/instant_post_verification.css")
        
body
  .root
    .pre-header Please verify your email.
    .logo    
      img(src="http://www.naturenurture.lk/images/logo.png", alt="Nature Nurture")
    br
    .message
      p.h1 Hi Duminda Harshaka,
      p You have offered 6 Mango plants for exchange in 
        span Green exchange.
      p Please verify your email so we can notify you when people respond to your post.
      
      
      a(href="http://www.naturenurture.lk/") Verify
    br    
    .signup  
      p You can have better control over your posts by signing up. 
        
      a(href="http://www.naturenurture.lk/")  Sign up  
    .ignore  
      p If you did't make this offer please ignore this message. Somebody must have entered this email by mistake or intentionally.<br>If you think this is intentional please report abuse to
        span 
          a(href="mailto:info@naturenurture.lk") info@naturenurture.lk
          
    
      p You can always 
        span 
          a(href="") unsubscribe
  
             
          
        
      
      
          
        
       
          
  
