doctype html
head
  meta(charset="utf-8")
  title 
  link(rel="stylesheet", type="text/css", href="../styles/response_notification.css")
body
  .root     
    .msg
      h1 Duminda Harshaka 
      p has 
        span.bold responded 
        span to your offer
      p 
    .res
      .pic
        img(src="http://www.naturenurture.lk/images/avatar.svg", alt="")
      .details  
        p.name Duminda 
          span has offered
          
        p.item 4 Rambutan 
          span plants
        p.add Athurugiriya, Colombo, Western Province, Sri Lanka
        p.date 10/27/2016 at 11:34PM
    .contact
      p Contact info <br> 
        span 0774902320   
    .info 
      p You are getting this email because you are subscribed to your post on 
        span 
          a(href="http://www.naturenurture.lk/green-exchange") naturenurture.lk/green-exchange<br>
        span 
          a(href="http://www.naturenurture.lk/green-exchange") Unsubscribe
          
    .logo    
      img(src="http://www.naturenurture.lk/images/logo.png", alt="Nature Nurture")
    br
